@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #e46ca3;
  --color-primary-bg: #ffe7f2;
  --color-primary-font: #ff6699;
  --color-primary-hover: #cc6699;
  --color-secondary: #4a4e5a;
  --color-base: #333;
  --color-gray: #e9e9e9;
  --color-gray-light: #c3c3c3;
  --color-white: #fff;
  --color-green: #06c755;
  --color-orange: #ff9231;

  --text-base: 16px;
  --text-10: 10px;
  --text-12: 12px;
  --text-14: 14px;
  --text-16: 16px;
  --text-18: 18px;
  --text-20: 20px;
  --text-24: 24px;
  --text-28: 28px;
  --text-32: 32px;
  --text-38: 38px;
}

@layer base {
  /* @import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap"); */
  /* "Zen Maru Gothic",  */
  body {
    font-family:
      "YuGothic", "Yu Gothic", "游ゴシック", "ヒラギノ角ゴ Pro W3",
      "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", serif;
    color: var(--color-base);
    line-height: 1.15;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  dialog::backdrop {
    background: #000;
    opacity: 0.8;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  p,
  span,
  figure {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
    outline: none;
  }

  a:hover {
    color: var(--color-primary);
  } */

  /* swiper setting */
  .swiper {
    padding: 0 16px !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: var(--color-base) !important;
    svg {
      width: 24px !important;
      height: 24px !important;
    }
  }

  .swiper-slide figure {
    text-align: center !important;
  }

  /* リッチエディタ */
  .richEditor p {
    min-height: 1em;
    line-height: 1.5;
  }

  .richEditor a {
    text-decoration: underline;
  }

  .richEditor table,
  .richEditor table th,
  .richEditor table tr,
  .richEditor table td {
    border: 1px solid #ccc;
    border-spacing: 0;
  }

  .richEditor table {
    width: 100%;
  }

  .richEditor table th {
    padding: 10px;
    background-color: #e6e6e6;
  }
  .richEditor table td {
    padding: 10px;
    width: calc(100% / 7);
  }
  .richEditor img {
    width: 100%;
    height: auto;
    max-width: 500px;
  }
  .richEditor .name {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
  }

  .richEditor .pink {
    color: var(--color-primary);
  }
  .richEditor .green {
    color: var(--color-green);
  }
  .richEditor .orange {
    color: var(--color-orange);
  }
  /* case */
  .caseTextEllipsis {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  /* 店舗情報 */
  #shopInfo iframe {
    width: 100%;
  }
}
